.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #53783b;
    border: none;
    border-radius: 15px;
}

.button:hover {background-color: #7b964a}

.button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

/* Style the tab buttons */
.tablink {
    background-color: #7b964a;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #53783b;
}

ul{list-style-type: none;}

.centerp {
    margin: 0;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
}

/*slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}



/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: green;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textSlide {
    background-color: transparent;
    color: #f2f2f2;
    font-size: 20px;
    padding: 20px 15px;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #53783b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*slideshow*/
* {box-sizing:border-box}

/* Slideshow container2 */
.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides2 {
    display: none;
}



/* Next & previous buttons */
.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: green;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textSlide2 {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    left:100px;
    width: 100%;
    text-align: left;
}

/* Number text (1/3 etc) */
.numbertext2 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #53783b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot2:hover {
    background-color: white;
}

/* Fading animation */
.fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade2 {
    from {opacity: .4}
    to {opacity: 1}
}

/* Slideshow container3 */
.slideshow-container3 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides3 {
    display: none;
}



/* Next & previous buttons */
.prev3, .next3 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: green;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next3 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover, .next3:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textSlide3 {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    left:100px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext3 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot3 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #53783b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot3:hover {
    background-color: white;
}

/* Fading animation */
.fade3 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade3 {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade3 {
    from {opacity: .4}
    to {opacity: 1}
}
/* Slideshow container */
.slideshow-container4 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides4 {
    display: none;
}



/* Next & previous buttons */
.prev4, .next4 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: green;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next4 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev4:hover, .next4:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textSlide4 {
    background-color: transparent;
    color: #f2f2f2;
    font-size: 20px;
    padding: 20px 15px;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext4 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot4 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #53783b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot4:hover {
    background-color: white;
}

/* Fading animation */
.fade4 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade4 {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade4 {
    from {opacity: .4}
    to {opacity: 1}
}

/*slideshow*/
* {box-sizing:border-box}

/*Donut*/
div.tooltip {
    position: absolute;
    text-align: center;
    padding: .2rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}

div.donut-tip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}
.header {
    padding: 10px;
    text-align: center;
    background: #53783b;
    color: white;
    font-size: 25px;
    box-shadow: 10px 10px;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("assets/DSC_0047.JPG");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("assets/DSC_0040.JPG");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("assets/sky.jpeg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("assets/CollageShadow.png");
    min-height: 400px;
}

.bgimg-5 {
    background-image: url("assets/smile.png");
    min-height: 400px;
}

.bgimg-6 {
    background-image: url("assets/DSC_0144.JPG");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #1abc9c;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.icon{
    display: block;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 20px;
    width: 100px;
    float: left;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

text {
    font: 10px sans-serif;
}

form {
    position: relative;
    right: 10px;
    top: 10px;
    display: block;
    margin: auto;
}

svg {
    /*background: url('assets/sky.jpeg') no-repeat;*/
    background-color: transparent;
    position: relative;
    margin-top: 400px;

}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
